html,
body {
  background-color: #3c3c3c;
  width: 100%;
  margin: 0;
  padding: 0;
}
#settings {
  width: 200px;
  height: 130px;
  background-color: #745151;
  border: 1px solid #141414;
  position: absolute;
  top: 50px;
  left: 50px;
}
#settings p {
  color: white;
  margin: 5px 0 0 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 100px 50px 100px;
}
#gridMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 200px);
  grid-auto-flow: row dense;
  grid-gap: 10px;
  max-width: 1540px;
  width: 100%;
  height: 100%;
}
.gridItem {
  justify-self: stretch;
  align-self: stretch;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}
.gridItem.single {
  background-color: darkgreen;
}
.gridItem.double.horizontal {
  background-color: darkred;
  grid-column: span 2;
}
.gridItem.double.vertical {
  background-color: darkblue;
  grid-row: span 2;
}
.gridItem.bigSquare {
  background-color: darkgoldenrod;
  grid-column: span 2;
  grid-row: span 2;
}
